{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}创建分类 | 我的博客{% endblock %}

{% block content %}
    <h1 class="mb-4 terminal-title">> 创建分类</h1>

    <div class="card terminal-card">
        <div class="card-body">
            <form method="post" class="mb-4">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn terminal-btn">> 创建分类</button>
                <a href="{% url 'blog:post_list' %}" class="btn terminal-btn">> 取消</a>
            </form>
        </div>
    </div>
{% endblock %} 